.input-container, .input-component {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
}

.input-component {
  position: absolute;
  top: 0;
  left: 0;
}

input {
  z-index: 1;
  background: transparent;
}

svg {
  pointer-events: none;
  z-index: 0;
}

/*
 BUGGY: causes SVG lines to "overflow" from the container on scroll --despite the position being correct and any
 overflow:hidden we might add all along the chain. */
[disabled] .activeStyle {
  display: none;
}

.inactiveStyle {
  display: none;
}

[disabled] .inactiveStyle {
  display: block;
}
