.input-container, .input-component {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
}

.input-component {
  position: absolute;
  top: 0;
  left: 0;
}

input {
  z-index: 1;
  background: transparent;
}

svg {
  pointer-events: none;
  z-index: 0;
}

[disabled] .activeStyle {
  display: none;
}

:not([disabled]) .inactiveStyle {
  display: none;
}
