<div class="input-container"
     [ngClass]="{ 'ng-hide': !visibleProperty.currentValue, 'g-error': isInError, 'g-is-focused': isFocused }"
     [style.width]="component.width + 'px'"
     [style.height]="component.height + 'px'">
  <input #textInput
         [name]="fieldName"
         class="input-component"
         type="text"
         [id]="fieldId"
         (focus)="handleFocus()"
         (blur)="handleBlur()"
         disabled="disabled"
         [attr.maxLength]="component.maxLength ? component.maxLength : null"
         [(ngModel)]="model.form.data[fieldName]"
         [style.color]="colorProperty.currentValue"
         [style.font-style]="isItalic ? 'italic' : 'normal'"
         [style.font-weight]="isBold ? 'bold' : 'normal'"
         [style.text-decoration]="textDecorations"
         [attr.title]="hintProperty.currentValue" />
  <svg #textSvg class="fieldStyleDisplay input-component"
       [id]="svgId"
       [attr.disabled]="!enabledProperty.currentValue ? 'disabled' : null">
    <defs [innerHTML]="patternDefinitions"></defs>
    <rect class="inactiveStyle"
          x="0"
          y="0"
          [attr.stroke]="inactiveFillColor"
          [attr.width]="fillWidth"
          [attr.height]="fillHeight"
          [attr.fill]="inactiveFillValue"></rect>
    <path class="inactiveStyle borderPath"
          *ngIf="inactiveBorderPath"
          [attr.d]="inactiveBorderPath"
          [attr.stroke-dasharray]="inactiveBorderDashArray"
          [attr.stroke]="component.inactiveBorderColor"
          [attr.stroke-width]="component.inactiveBorderWidth"
          fill="rgba(0,0,0,0)"></path>
    <rect class="activeStyle"
          x="0"
          y="0"
          [attr.stroke]="activeFillColor"
          [attr.width]="fillWidth"
          [attr.height]="fillHeight"
          [attr.fill]="activeFillValue"></rect>
    <path class="activeStyle borderPath"
          *ngIf="activeBorderPath"
          [attr.d]="activeBorderPath"
          [attr.stroke-dasharray]="activeBorderDashArray"
          [attr.stroke]="component.borderColor"
          [attr.stroke-width]="component.borderWidth"
          fill="rgba(0,0,0,0)"></path>
  </svg>
</div>
