form-shape, form-line, form-button, form-image, form-text-input, form-mask-input, form-number-input, form-date-time-input, form-time-input, form-memo, form-checkbox, form-radio, form-drop-down, form-combobox, form-stamp, form-label {
  position: absolute;
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
}
