<form-image [model]="model" [component]="Img25" [style.top]="Img25.top + 'px'" [style.left]="Img25.left + 'px'" [style.height]="Img25.height + 'px'" [style.width]="Img25.width + 'px'"></form-image>
<form-image [model]="model" [component]="Img26" [style.top]="Img26.top + 'px'" [style.left]="Img26.left + 'px'" [style.height]="Img26.height + 'px'" [style.width]="Img26.width + 'px'"></form-image>
<form-line [model]="model" [component]="Line27" [style.top]="Line27.top + 'px'" [style.left]="Line27.left + 'px'" [style.height]="Line27.height + 'px'" [style.width]="Line27.width + 'px'"></form-line>
