.page {
  display: block;
  width:816px;
  height: 1056px;
  box-sizing: content-box;
  border: 1px solid black;
  margin: 15px 5px;
  position: relative;
  overflow: hidden;
}

.ng-hide {
  display: none;
}
